<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tyb1222.dao.UserDao">
    <select id="findUserById" resultType="User">
        select nickname,age from userInfo where id=#{id}
    </select>
    <select id="getUsers" resultType="User">
        SELECT  nickname,age from userInfo
    </select>
    <select id="getUser" resultType="User">
        SELECT  nickname,age from userInfo WHERE id=#{id}
    </select>
</mapper>